* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.l,
.k,
.p {
  width: 300px;
  height: 250px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  position: relative;
}
.a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(221, 216, 209);
}
.s {
  width: 90%;
  height: 90%;
  background-color: rgb(160, 155, 155);
  display: flex;
  margin: 15px;
  align-items: center;
  position: absolute;
}
.z {
  width: 270px;
  height: 225px;
  background-color: rgba(231, 58, 58, 0.501);
  /* background-color: linear-gradient(rgb(0, 247, 255), rgb(37, 37, 37)); */
  display: flex;
  margin: 15px;
  align-items: center;
  position: absolute;
}
